<h1>form page</h1>
<%= form_with model: [:admin, @book]  do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :author %><br>
    <%= form.text_area :author %>
  </div>

  <div>
    <%= form.label :image %><br>
    <%= form.file_field :image %>
  </div>
  <br>
  <div> 
    <%= form.fields_for :tags, @book.tags.build do |nested| %>
      <%= nested.label :hash_tag %><br>
      <%s= nested.text_field :hash_tag %>
    <% end %> 
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
