<h1>form page</h1>
<%= form_with model: [:admin, @book]  do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :author %><br>
    <%= form.text_area :author %>
  </div>

  <div>
    <%= form.label :image %><br>
    <%= form.file_field :image %>
  </div>
  <div>
    <%= form.label :tag_list, "Tags (separated by commas)" %><br>
    <%= form.text_field :tag_list %>
  </div>
  <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
